* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  --color-main: #196626;
  --color-background: #fff;
  --color-text: #000;
  background-color: var(--color-background);
  color: var(--color-text);
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

header {
  padding: 18px;
}

ul {
  list-style: none;
  gap: 15px;
}

ul .active {
  color: var(--color-main);
}

section {
  padding: 60px;
  gap: 30px;
}

section h1 {
  color: var(--color-main);
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  padding: 12px;
}

.light {
  padding: 6px;
  border: 1px solid var(--color-text);
  border-radius: 50%;
}

section button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--color-main);
  color: #fff;
  padding: 12px;
  align-self: flex-start;
}
